/* 
    Created on : Jul 24, 2017, 9:58:42 PM
    Author     : elbernante
*/

* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0;
    margin: 0;
    padding-top: 450px;
    background-color: #FFFFFF;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

@media only screen and (min-width: 600px) {
    body {
        padding-top: 400px;
    }
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.banner {
    background-color: #1DA1F2;
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
    position: fixed;
    transition: all 0.3s ease-in-out;
}

.banner img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    padding: 8px;
    background-color: #FFFFFF;
    display: block;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
}

.banner .avatar {
    width: 100%;
    max-width: 600px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 70px;
    transition: all 0.3s ease-in-out;
}

.shrink {
    height: 70px;
}

.shrink .avatar {
    top: 20px;
}

.shrink img {
    height: 100px;
    width: 100px;
    padding: 4px;
}

.side img {
    margin-left: 0;
    transform: translateX(0);
    border-radius: 10px;
}

.container {
    width: 100%;
    padding: 0;
}



@media only screen and (min-width: 600px) {
    .container {
        width: 600px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }   
}

.title {
    text-align: center;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    top: 250px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.shrink .title {
    top: 100px;
}

.side .title {
    margin-left: 105px;
    transform: translateX(0);
    top: 8px;
    color: #FFF;
}

.item-list {
    width: 100%;
    padding: 0;
    list-style-type: none;
    background-color: #fafafa;
    border: 1px solid #cccccc;
    border-radius: 0px;
}

@media only screen and (min-width: 600px) {
    .item-list {
        width: 350px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 4px;
    }
}

.item-list > li {
    border-bottom: 1px solid #cccccc;
}

.item-list > li:last-child {
    border-bottom: none;
}

.item-list > li:hover {
    background-color: #1DA1F2;
    border-color: #1DA1F2;
    color: white;
}

.item-list > li a {
    display: block;
    color: #333;
    padding: 8px 16px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    transition: color 0s;
}

.item-list > li a:hover {
    color: white;
}

.validator {
    margin-top: 40px;
    text-align: center;
}

.social {
    position: absolute;
    top: 290px;
    width: 200px;
    margin-left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
}

.shrink .social {
    top: 140px;
}

.social > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social > ul > li {
    display: block;
    padding: 2px;
    margin: 0px;
    transition: all 0.3s ease-in-out;
}

@media only screen and (min-width: 600px) {
    .social {
        width: 580px;
    }
    
   .social > ul {
        display: inline-block;
    } 
    
    .social > ul > li {
        display: inline;
        border-right: 1px solid #cccccc;
        padding-right: 10px;
        padding-left: 5px;
    }

    .social > ul > li:first-child {
        padding-left: 0;
    }

    .social > ul > li:last-child {
        padding-right: 0px;
        border-right-width: 0px;
    }
}

.social > ul > li > a {
    display: inline-block;
    color: #1DA1F2;
    overflow: hidden;
    position: relative;
    top: 5px;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
}

a.social-linkedin {
    width: 200px;
}

a.social-github {
    width: 170px;
}

a.social-twitter {
    width: 170px;
}

.social > ul > li > a::before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: cover;
    margin-right: 5px;
    vertical-align: middle;
    transition: all 0.3s ease-in-out;
}

a.social-linkedin::before {
    background-image: url(../images/linkedin_sm.png);
}

a.social-github::before {
    background-image: url(../images/github_sm.png);
}

a.social-twitter::before {
    background-image: url(../images/twitter_sm.png);
}


.side .social {
    width: 100%;
    top: 50px;
    margin-left: 100px;
    transform: translateX(0);
    background-color: #FFF;
}

.side .social > ul > li {
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
}
.side .social > ul > li > a {
    width: 35px;
    height: 35px;
}

.side .social > ul > li > a::before {

    height: 30px;
    width: 30px;
}

.side .social > ul > li {
    border-width: 0px;
    transition: opacity 0.2s;
}

.side .social > ul > li:hover {
    opacity: 0.5;
}