/* 
    Peter James Bernante
    CS472 - W3D2: Module and Closure Lab
    08 Aug 2017
*/

label {
    display: inline-block;
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
    vertical-align: middle;
    margin: 5px;
}

#btnCreateAccount {
    margin: 5px;
    margin-left: 130px;
}

#acctList {
    font: normal 12pt monospace;
}